@font-face {
  font-family: "open-sans-regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "open-sans-semi-bold";
  src: url(../fonts/OpenSans-Semibold.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "open-sans-regular", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "open-sans-semi-bold", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

header .responsiveMenu {
  display: none;
}
@media screen and (max-width: 1080px) {
  header .responsiveMenu {
    display: block;
  }
  header .responsiveMenu .logoIcons {
    display: grid;
    grid-template-columns: 30% 70%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (max-width: 1080px) and (max-width: 730px) {
  header .responsiveMenu .logoIcons {
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width: 1080px) and (max-width: 400px) {
  header .responsiveMenu .logoIcons {
    grid-template-columns: 70% 30%;
  }
}
@media screen and (max-width: 1080px) {
  header .responsiveMenu .logoIcons .logo a img {
    width: 100%;
  }
  header .responsiveMenu .logoIcons .menuIcons {
    text-align: right;
    margin-right: 30px;
  }
  header .responsiveMenu .logoIcons .menuIcons i {
    font-size: 2rem;
    color: #00adef;
  }
  header .responsiveMenu .logoIcons .menuIcons #closeIcon {
    display: none;
  }
  header .responsiveMenu .navMenu nav {
    display: none;
    width: 80%;
    margin: 0 auto;
  }
  header .responsiveMenu .navMenu nav ul {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }
  header .responsiveMenu .navMenu nav ul li {
    list-style: none;
    padding: 15px 0;
    border-top: 0.5px solid rgba(0, 0, 0, 0.25);
  }
  header .responsiveMenu .navMenu nav ul li:first-child {
    border-top: none;
  }
  header .responsiveMenu .navMenu nav ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    color: #00adef;
  }
  header .responsiveMenu .navMenu nav ul li a:hover {
    color: #80cc28;
  }
}
@media screen and (max-width: 1080px) {
  header .desktopMenu {
    display: none;
  }
}
header .desktopMenu ul li {
  list-style: none;
}
header .desktopMenu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 20px;
  text-align: center;
}
header .desktopMenu ul li a i {
  margin-right: 10px;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .desktopMenu .sup {
  display: grid;
  grid-template-columns: 30% 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
header .desktopMenu .sup .logo a img {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 100%;
}
header .desktopMenu .sup .logo a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
header .desktopMenu .sup .aboutMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .desktopMenu .sup .aboutMenu ul li a {
  color: #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header .desktopMenu .sup .aboutMenu ul li a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #00adef;
}
header .desktopMenu .sup .aboutMenu ul li:last-child a {
  background: #00adef;
  border-radius: 50px;
  padding: 10px 20px;
  color: #fff;
}
header .desktopMenu .sup .aboutMenu ul li:last-child a:hover {
  color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  background: #80cc28;
}
header .desktopMenu .inf ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
header .desktopMenu .inf ul li {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}
header .desktopMenu .inf ul li a {
  background: #00adef;
  height: 100%;
  border-top: 3px solid transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
}
header .desktopMenu .inf ul li a:hover {
  border-top: 3px solid #fff;
  background: #80cc28;
}
header .desktopMenu .inf ul li a:hover i {
  color: #80cc28;
}
header .desktopMenu .inf ul li a i {
  color: #00adef;
  background: #fff;
  padding: 10px;
  border-radius: 150px;
  width: 40px;
  height: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main section {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

footer {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
footer .containerFooter {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}
@media screen and (max-width: 1000px) {
  footer .containerFooter {
    grid-template-columns: 1fr;
  }
}
footer .containerFooter div {
  padding: 20px;
}
@media screen and (max-width: 1000px) {
  footer .containerFooter div {
    text-align: center;
  }
}
footer .containerFooter div h2 {
  color: #00adef;
  font-size: 1.2rem;
  text-transform: uppercase;
}
footer .containerFooter div h2::after {
  content: "";
  display: block;
  width: 30%;
  height: 3px;
  border-bottom: 3px solid #00adef;
  padding-top: 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1000px) {
  footer .containerFooter div h2::after {
    margin: 0 auto 20px;
    width: 10%;
  }
}
footer .containerFooter div ul li {
  padding-bottom: 10px;
  list-style-type: square;
  margin-left: 20px;
}
@media screen and (max-width: 1000px) {
  footer .containerFooter div ul li {
    margin-left: 0;
    list-style: none;
  }
}
footer .containerFooter div ul li a {
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
footer .containerFooter div ul li:hover {
  color: #00adef;
}
footer .containerFooter div ul li:hover a {
  color: #00adef;
}
footer .containerFooter .logoFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .containerFooter .logoFooter img {
  width: 100%;
}
footer .copyright {
  background: #00adef;
  padding: 20px 0;
  text-align: center;
}
footer .copyright p,
footer .copyright a {
  color: #fff;
  font-family: "open-sans-semi-bold", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 0.9rem;
}
footer .copyright a {
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
footer .copyright a:hover {
  color: #000;
}

#accueil .hero {
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 80vh;
}
#accueil .hero .imgHero {
  border-radius: 0 0 360px 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -webkit-animation: bgSlide 15s infinite;
          animation: bgSlide 15s infinite;
}
@-webkit-keyframes bgSlide {
  0% {
    background: url(../img/1.jpeg) no-repeat center/cover;
  }
  25% {
    background: url(../img/2.jpeg) no-repeat center/cover;
  }
  50% {
    background: url(../img/3.jpeg) no-repeat center/cover;
  }
  75% {
    background: url(../img/4.jpeg) no-repeat center/cover;
  }
  100% {
    background: url(../img/1.jpeg) no-repeat center/cover;
  }
}
@keyframes bgSlide {
  0% {
    background: url(../img/1.jpeg) no-repeat center/cover;
  }
  25% {
    background: url(../img/2.jpeg) no-repeat center/cover;
  }
  50% {
    background: url(../img/3.jpeg) no-repeat center/cover;
  }
  75% {
    background: url(../img/4.jpeg) no-repeat center/cover;
  }
  100% {
    background: url(../img/1.jpeg) no-repeat center/cover;
  }
}
#accueil .hero .textHero {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}/*# sourceMappingURL=index.css.map */